#login {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20em;
	height: 15em;
	margin-left: -10em;
	margin-top: -7.5em;
	display: none;
	background: #090909;
	border-bottom: solid 1px #000;
}
#login h1 {
	color: #999;
	font-size: 2em;
	background: #191919;
	padding: 0.5em;
}
#login input[type=password] {
	background: #333;
	border: solid 1px #000;
	display: block;
	width: calc(100% - 1.25em);
	outline: 0;
	margin: 0.5em;
	padding: 0.1em;
	font-size: 2.25em;
	border-radius: 0.15em;
	color: #999;
}
#login #loginButton {
	background: #111;
	border: none;
	font-size: 1em;
	color: #666;
}
