body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: #333;
}

.clear {
	clear: both;
}

#playbackControl {
	background: #222;
	position: fixed;
	bottom: 0em; left: 0;
	width: 100%;
	height: 3.5em;
}

#seekSlider {
	margin: 1em 4em 0 0;
	width: calc(100% - 15em);
	float: right;
}

#seekSliderHandle {
	width: 8em;
	height: 2.2em;
	top: 50%;
	margin-left: -4em;
	margin-top: -1.1em;
	text-align: center;
	line-height: 2.2em;
}

#playToggleButton {
	width: 6.5em;
	height: 2.2em;
	margin: 0.4em 0 0;
	float: left;
}

#trackList .ui-selecting { background: #FECA40; }
#trackList .ui-selected { background: #F39814; color: white; }
#trackList { list-style-type: none; margin: 0; padding: 0; }
#trackList li { margin: 0.25em; padding: 0.5em; font-size: 0.75em; }