body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	background: #030303;
	margin: 4em 0;
}

.clear {
	clear: both;
}

header, footer {
	background: #191919;
	position: fixed;
	width: 100%;
	border-width: 1px;
	border-color: #080808;
	z-index: 2;
}

header {
	top: 0; left: 0;
	height: 4em;
	border-bottom-style: solid;
}

header h1 {
	color: #999;
	font-size: 2em;
	margin-top: 0;
	padding: 0.5em;
}

footer {
	bottom: 0; left: 0;
	height: 3.35em;
	border-top-style: solid;
	padding: 0.5em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#seekSlider {
	margin: -2.95em 4em 0 0;
	width: calc(100% - 20em);
	float: right;
	top: 0;
	right: 0;
}

#seekSliderHandle {
	width: 8em;
	height: 2.2em;
	top: 50%;
	margin-left: -4em;
	margin-top: -1.1em;
	text-align: center;
	line-height: 2.2em;
}

footer button {
	height: 4em;
	background: #111;
	border: solid 1px #000;
	color: #999;
	outline: 0;
}

#playButton {
	width: 5em;
}
#nextTrackButton, #prevTrackButton {
	width: 3em;
}

#trackList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	z-index: 0;
	float: right;
	clear: right;
	width: 100%;
}
#trackList li {
	background: #0c0c0c;
	margin: 0em;
	padding: 0.5em;
	font-size: 0.75em;
	color: #999;
	cursor: pointer;
	border-bottom: solid 1px #000;
}
#trackList li:nth-child(2n) {
	background: #030303;
}
#trackList li:hover {
	background: #1c1c1c;
	color: #ccc;
}
#trackList li .trackId {
	display: none;
}
#trackList li.playing {
	background: #354;
	color: #ccc;
}
#trackList li.playing:hover {
	background: #465;
}
#trackList li.selected {
	background: #543;
	color: #ccc;
}
#trackList li.selected:hover {
	background: #654;
}
#trackList li.selected.playing {
	background: #545;
}
#trackList li.selected.playing:hover {
	background: #656;
}

#queue {
	width: 15em;
	height: calc(100% - 4em);
	position: fixed;
	bottom: 0; left: 0;
	background: #333;
	display: none;
	z-index: 1;
}
