html {
	overflow: hidden;
}
body {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	/*background: #030303;*/
	margin: 0 0;
}
.clear {
	clear: both;
}
.noselect {
	-webkit-touch-callout: none; 	/* iOS Safari */
 	-webkit-user-select: none; 		/* Safari */
  	-khtml-user-select: none; 		/* Konqueror HTML */
   	-moz-user-select: none; 		/* Firefox */
	-ms-user-select: none; 			/* Internet Explorer/Edge */
    user-select: none; 				/* Non-prefixed version, currently
                      				   supported by Chrome and Opera */
}

header, footer {
	background: #191919;
	position: absolute;
	width: 100%;
	border-width: 1px;
	border-color: #080808;
	z-index: 2;
}
header {
	top: 0; left: 0;
	height: 4em;
	border-bottom-style: solid;
}
header h1 {
	color: #999;
	font-size: 2em;
	margin-top: 0;
	padding: 0.5em;
	display: inline-block;
}
header #logout {
	float: right;
	clear: right;
}
footer {
	bottom: 0; left: 0;
	height: 3em;
	border-top-style: solid;
	padding: 0.5em;
}

#audioPlayer {
	/*display: none;*/
}
#seekSlider {
	position: relative;
	width: calc(100% - 22em);
	float: right;
	bottom: 2em;
	right: 3em;
	padding: 0;
	margin: 0;
	display: inline-block;
	background: #000;
	height: 1em;
	border-right: solid 5em #000;
}
footer button, #seekSliderHandle {
	height: 3em;
	background: #111;
	border: solid 1px #000;
	color: #999;
	outline: 0;
	font-size: 1em;
}
#seekSliderHandle {
	height: 2.88em;
	position: absolute;
	width: 8em;
	top: -1em;
	margin-left: -1em;
	text-align: center;
	line-height: 2.88em;
}



#playButton {
	width: 5em;
}
#nextTrackButton, #prevTrackButton {
	width: 3em;
}

#trackList {
	list-style-type: none;
	z-index: 0;
	float: right;
	clear: right;
	width: calc(100% - 16em);
	overflow-y: scroll;
	height: calc(100% - 8em);
	display: block;
	position: absolute;
	top: 4em; right: 0;
}
#trackList li {
	background: #030303;
	font-size: 0.85em;
	color: #999;
	cursor: pointer;
	border-bottom: solid 1px #000;
}
#trackList li:nth-child(2n) {
	background: #090909;
}
#trackList li:hover {
	background: #131313;
	color: #ccc;
}
#trackList li span.trackId {
	display: none;
}
#trackList li.playing {
	background: #354;
	color: #ccc;
}
#trackList li.playing:hover {
	background: #465;
}
#trackList li.selected {
	background: #543;
	color: #ccc;
}
#trackList li.selected:hover {
	background: #654;
}
#trackList li.selected.playing {
	background: #545;
}
#trackList li.selected.playing:hover {
	background: #656;
}
#trackList li div.trackPath {
	padding: 0.75em;
}

#queue {
	width: 15em;
	height: calc(100% - 9em);
	position: fixed;
	bottom: 4em; left: 0;
	background: #333;
	z-index: 1;
	padding: 0.5em;
}
