<div id='' ng-controller='loginController' layout='column' layout-fill>
    <div class='form-container layout-fill layout-column md-whiteframe-24dp' md-theme='panel' layout='column' layout-fill layout-align='center center'>
        <form name='loginForm' ng-submit='login()' layout='column'>
            <md-toolbar>
                <div class='md-toolbar-tools'>
                    <h2>Login</h2>
                </div>
            </md-toolbar>
            <md-content class="md-padding form" layout="column">
                <md-input-container class="md-block">
                    <label>Shared Key</label>
                    <input type='password' name='key' ng-model='sharedKey' required='required' />
                    <div ng-messages="loginForm.key.$error" role="alert">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <div layout='row' layout-align='center center'>
                    <md-button class='md-primary md-raised required' type='submit' ng-disabled='loginForm.$invalid'>Login</md-button>
                </div>
            </md-content>
        </form>
    </div>
</div>